name: PHP Lint

on:
    pull_request:
        branches: [ main ]
        paths:
            - 'backend/**.php'

jobs:
    lint:
        runs-on: ubuntu-latest
        
        permissions:
            contents: write

        steps:
            - name: Check out repository code
              uses: actions/checkout@v4

            - name: Install PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: '8.4'
                  coverage: none

            - name: Check PHP Version
              run: php -v

            - name: Lint PHP files
              run: find ./backend -name "*.php" -print0 | xargs -0 -n1 php -l

            - name: Install PHP-CS-Fixer
              run: composer global require friendsofphp/php-cs-fixer
              
            - name: Check code style
              run: php-cs-fixer fix ./backend --diff --rules=@PSR12 --no-interaction --using-cache=no
              
            - name: Commit changes
              uses: stefanzweifel/git-auto-commit-action@v5
              with:
                  commit_message: "style: auto-format PHP"
                  